body, html {
    background-color: #5D2736;
}
.ab-title {
    background-color: #5D2736;
    color: white;
    flex-grow: none;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}
.ab-text {
    background-color: #5D2736;
    color: white;
    flex-grow: none;
    padding: 100px;
    padding-top: 10px;
    text-decoration: none;
    text-align: justify;
}