body, html {
    background-color: #5D2736;
    color: rgb(179, 178, 178);
}
.ab-title {
    background-color: #5D2736;
    font-family: 'Montserrat', sans-serif;
    flex-grow: none;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}
.ab-text {
    background-color: #5D2736;
    font-family: 'Raleway', sans-serif;
    flex-grow: none;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: lighter;
}