body, html {
    background-color: #5D2736;
    color: rgb(179, 178, 178);
}
#ab-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #5D2736;
}
.ab-title {
    background-color: #5D2736;
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}
.ab-text {
    background-color: #5D2736;
    font-family: 'Raleway', sans-serif;
    padding-top: 10px;
    width: 500px;
    text-decoration: none;
    text-align: center;
    font-weight: lighter;
}