.footer-container {
    background-color: gray;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.nav-item {
    color: white;
    flex-grow: none;
    padding: 50px;
    padding-top: 10px;
    text-decoration: none;
}