.footer-container {
    background-color: rgb(31, 31, 31);;
    opacity: 0.8;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 15px -5px  rgb(31, 31, 31);;
}
.nav-item {
    font-family: 'Raleway', sans-serif;
    color: grey;
    flex-grow: none;
    padding: 50px;
    padding-top: 10px;
    text-decoration: none;
}