header {
    position:absolute;
    left:0;
    top:0;
    right:0;
    background-color:  rgb(31, 31, 31);
}
.he-flexbox {
    flex-shrink: 0;
}
.he-title {
    color: white;
    text-decoration: none;
}