.pr-description-container {
    background-color: #5D2736;
}
.pr-list-container {
    background-color: #5D2736;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    padding-bottom: 130px;
}
.pr-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(179, 178, 178);
    flex-grow: none;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}
.prc-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: rgb(179, 178, 178);
    text-shadow:
        1px  1px 2px black;
    flex-grow: none;
    padding-top: 30px;
    padding-bottom: px;
    text-decoration: none;
    text-align: center;
}
a:link {
    text-decoration: none;
}
.pr-text {
    font-family: 'Raleway', sans-serif;
    color: rgb(179, 178, 178);
    flex-grow: none;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    text-align: justify;
    font-weight: lighter;
}
.prc-text {
    font-family: 'Raleway', sans-serif;
    color: rgb(179, 178, 178);
    flex-grow: none;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: thin;
}
.pr-card {
    height: 150px;
    width: 200px;
    background-color: #5D2736;
    padding: 30px;
    margin: 20px;
}