.pr-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    padding-bottom: 130px;
}
.pr-title {
    color: white;
    flex-grow: none;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}
.pr-text {
    color: white;
    flex-grow: none;
    padding: 100px;
    padding-top: 10px;
    text-decoration: none;
    text-align: justify;
}
.prc-text {
    color: white;
    flex-grow: none;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-align: justify;
}
.pr-card {
    height: 150px;
    width: 150px;
    background-color: darkgray;
    padding: 30px;
    margin: 30px;
}
.pr-button {
    background-color: green; 
}