.pr-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    padding-bottom: 130px;
}
.pr-title {
    color: white;
    flex-grow: none;
    padding-top: 70px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
}
.prc-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: white;
    text-shadow:
        1px  1px 2px black;
    flex-grow: none;
    padding-top: 30px;
    padding-bottom: px;
    text-decoration: none;
    text-align: center;
}
a:link {
    text-decoration: none;
}
.pr-text {
    color: white;
    flex-grow: none;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    text-align: justify;
}
.prc-text {
    color: white;
    flex-grow: none;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
}
.pr-card {
    height: 150px;
    width: 200px;
    background-color: darkgray;
    padding: 30px;
    margin: 20px;
}