body {
    margin:0;
    padding:0;
    background:black;
    font-family: 'Roboto Condensed', sans-serif;
}
ul {
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%, -50%);
    display:flex;
    margin:0;
    padding:0;
}
ul li {
    list-style:none;
    margin:0px;
}
ul li a .fab {
    font-size: 20px;
    color: #9c9b9b;
    line-height:80px;
    transition: .5s;
    padding-right: 7px;
}
ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 10px;
    color: #9c9b9b;
    letter-spacing: 3px;
    transition: .5s;
}
ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:130px;
    height:40px;
    background: rgb(128, 76, 90);
    text-align:left;
    padding-left: 20px;
    transform: rotate(-7deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul li a:before {
    content: '';
    position: absolute;
    top:7.5px;
    left:-12px;
    height:100%;
    width:12px;
    background: rgb(102, 60, 71);
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a:after {
    content: '';
    position: absolute;
    bottom:-13px;
    left:-6px;
    height:13px;
    width:100%;
    background: rgb(102, 60, 71);
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover {
    transform: rotate(-7deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px black;
}
ul li:hover .fa {
    color:#fff;
}
ul li:hover span {
    color:#fff;
}
ul li:hover:nth-child(1) a{
    background: #656668;
}
ul li:hover:nth-child(1) a:before{
    background: #36383d;
}
ul li:hover:nth-child(1) a:after{
    background: #7e8186;
}
ul li:hover:nth-child(2) a{
    background: #0077b5;
}
ul li:hover:nth-child(2) a:before{
    background: #015c8d;
}
ul li:hover:nth-child(2) a:after{
    background: #018dd8;
}
ul li:hover:nth-child(3) a{
    background: #e83e8c;
}
ul li:hover:nth-child(3) a:before{
    background: #c43c7c;
}
ul li:hover:nth-child(3) a:after{
    background: #f7529f;
}
ul li:hover:nth-child(4) a{
    background: #3b5998;
}
ul li:hover:nth-child(4) a:before{
    background: #365492;
}
ul li:hover:nth-child(4) a:after{
    background: #4a69ad;
}